[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
django = "*"
gunicorn = "*"
django-heroku = "*"
djangorestframework = "*"
model-mommy = "*"
mock = "*"
django-rest-swagger = "*"
python-dateutil = "*"
"psycopg2-binary" = "*"
json-log-formatter = "*"

[requires]
python_version = "3.6"

[dev-packages]
pylint = "*"
